2019410clientapp/2019410clientapp/Connected Services/StudentServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudent">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StudentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="age" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddStudentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="AddStudentSoapIn">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="AddStudentSoapOut">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetStudent">
      <wsdl:input message="tns:GetStudentSoapIn" />
      <wsdl:output message="tns:GetStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input message="tns:AddStudentSoapIn" />
      <wsdl:output message="tns:AddStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap12:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap12:operation soapAction="http://tempuri.org/AddStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:55972/model/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:55972/model/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>